.react-calendar {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  color: #000000;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  line-height: 140px;
  padding-bottom: 20px;
  font-family: "NanumSquareNeo";
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 100px;
}

.react-calendar__navigation button {
  color: #000000;
  min-width: 44px;
  background: none;
  font-size: 30px;
  margin-top: 8px;
}

.react-calendar__navigation button:disabled {
  background-color: #fff;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #fff;
}

.react-calendar__month-view__weekdays {
  background-color: #e6d5d5;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4em;
  height: 40px;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day {
  background-color: #f8f8fa;
  font-size: 1.4em; /* 원하는 폰트 크기로 조정 */
  height: 60px;
}

/* 주말 색 */
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}



.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

/* 달력에서 년/월에 마우스를 가져다 놓았을 때 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #fa990e;
  border-radius: 6px;
}

/* 오늘 날짜 색 */
.react-calendar__tile--now {
  background: #27ae60;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
}

/* 오늘 날짜에 마우스를 대면 나오는색 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
}

/* 달력에서 지금 선택 중인 월 배경색 */
.react-calendar__tile--hasActive {
  background: #27ae60;
}

/* 달력에서 월에 마우스 올려놓았을 때 색  */
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #27ae60;
}

.react-calendar__tile--active {
  background: #f24d06;
  border-radius: 6px;
  font-weight: bold;
  color: rgb(253, 18, 18);
}

/* 날짜 간격 선택할 때 날짜 색 */
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #d8d8fb;
  color: white;
}

/* 날짜 간격 선택할 때 간격의 색깔 */
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #d8d8fb;
}

/* 날짜 간격 선택 완료 후 간격의 색깔 */
.react-calendar__tile--range {
  background: #d8d8fb;
  color: #27ae60;
  border-radius: 0; 
}

/* 날짜 선택 완료 후 첫번째 날짜 색  */
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #d8d8fb;
  color: white;
}

/* 날짜 선택 완료 후 마지막 날짜 색  */
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #d8d8fb;
  color: white;
}
